body {
	font-family: courier, serif;
	font-size: 25px;
	background: gray;
}


.solution,
.humidity>#data>#humidity,
.bathtemperature>#data>#bathtemperature,
.sampletemperature>#data>#sampletemperature {
	display: none;
}

.humidity>#data>#humiditysolution, 
.bathtemperature>#data>#bathtemperaturesolution, 
.sampletemperature>#data>#sampletemperaturesolution {
	display: inline;
}

#question {
	background-color: green;
	height: 25%;
	width: 100%;
	margin: 0 auto;
	padding: 1%;
	text-align: center;
	font-size: 30px;
	font-color: black;
}

#answer, #data {
	float:left;
	width: 40%;
	height:75%;
	padding: 3%;
	margin: 0 auto;
}

input {
	width: 100%
}

.solution {
	width: 100%;
	height: 25px;
}

.unknown {
	width: 10%;
}

input:invalid {
	background-color: rgba(255, 0, 0, 0.1);
}







