
.solution {
	display: none;
}

.humidity > #humiditysolution {
	display: inline;
}

.sampletemperature > #sampletemperaturesolution {
	display: inline;
}

.bathtemperature > #bathtemperaturesolution {
	display: inline;
}
